<body>
  <h1 class="title">Your Next Move</h1>
    <hr>
    <div class="navBar">
      <%= link_to("Test", questions_path) %>
      <%= link_to("Job List", root_path) %>
      <%= link_to("Contact Us", root_path) %>
      <%= link_to("HOME", root_path) %>
    </div>
    <hr>
   <div>Hello World</div>
</body>