<body>
  <h1 class="title">Your Next Move</h1>
    <hr>
    <div class="navBar">
      <span class="clickLink"><%= link_to("HOME", root_path) %></span>
      <span class="clickLink"><%= link_to("Test", questions_path) %></span>
      <span class="clickLink"><%= link_to("Job List", careers_path) %></span>
      <span class="clickLink"><%= link_to("Contact Us", root_path) %></span>
    </div>
    <hr>
   <div>Hello World</div>
</body>