<%= form_tag quiz_submissions_path do %>
  <div id="test">
    <% @questions.each do |question| %>
        <p><%= question.prompt %></p>
        <p class="testAnswers">
          <%= select_tag "question_#{question.id}",
              options_from_collection_for_select(question.choices, "id", "name") %>
        </p>
    <% end %>
  </div>
  <br>
  <div class="float-right">
    <%= submit_tag "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
